body{
    margin:0;
    background-color:blue;
    .slide-wrapper {
      position:absolute;
      top:0;
      width:100%;
      z-index:999;
      #slide-up {
        background-color: blue;
        width: 100%;
        padding-top:30.9%;
        position:relative;
        background:url('../img/bg01.png') no-repeat;
      }
      #slide-down {
        background-color: red;
        width: 100%;
        padding-top:25.5%;
        position:relative;
        background:url('../img/bg02.png') no-repeat;
      }

    }
  #key-hole{
    background:url('../img/keyhole2.png') no-repeat;
    padding-top:16%;
    position:absolute;
    z-index : 9999;
    width:16%;
    top:42%;
    left:42%;
  }
}

.hidden {
  display:none;
}

.rotate {
  -webkit-transform: rotate(45deg);  /* Chrome, Safari 3.1+ */
  -moz-transform: rotate(45deg);  /* Firefox 3.5-15 */
  -ms-transform: rotate(45deg);  /* IE 9 */
  -o-transform: rotate(45deg);  /* Opera 10.50-12.00 */
  transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}